.loginContainer {
  margin: auto;
}

.loginButton {
  background-color: #003262;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.loginButton:hover,
.loginButton:focus {
  background-color: #2072af;
}

.loginLink {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: #1976d2;
}

.loginLink:hover,
.loginLink:focus {
  color: #003262;
}
